<div class="w-100">
  <h2>Thông tin sản phẩm</h2>
</div>
<div class="bg-white p-4 w-50 mx-auto">
  <form action="">
    <label for="">Name</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">thời gian học (phút)</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">chuyên nghành</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">level</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">Ảnh</label>
    <img src="" alt="">
    <button class="btn btn-primary">Danh sách</button>
  </form>
</div>
