*{
    padding: 0;
    border:  0
}
.continer-fluid{
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
}
header{
    height: 80px;
    background-color: rgb(0, 179, 255);
}
a {
  text-decoration: none;
}
ul>li{
    list-style: none;
}
/* .input-search{
    border: none;
} */
  