<div class="w-100">
  <h2>Thêm mới</h2>
</div>
<div class="bg-white p-4 w-50 mx-auto">
  <form action="">
    <label for="">Nhập Name</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">Nhập thời gian học (phút)</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">Nhập chuyên nghành</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">Nhập level</label>
    <input type="text" class="mb-3 form-control" />
    <label for="">Nhập ảnh</label>
    <input type="text" class="mb-3 form-control" />
    <button class="btn btn-primary">Thêm mới</button>
  </form>
</div>
