<div class="container-fluid footer ">
    <div class="container">
        <div class="row">
            <div class="col-4 footer-top-item">
                <div class="address-group">
                    <div class="title">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>HỆ THỐNG CỬA HÀNG</span>
                    </div>
                </div>
                <div class="address-group">
                    <div class="address-group-title">
                        <span>Hà Nội</span>
                    </div>
                    <div class="address-group-main d-block">
                        <div class="address-group-item">
                            <address>
                                120 Thái Hà, Q.Đống Đa
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                        <div class="address-group-item">
                            <address>
                                398 Cầu Giấy, Q. Cầu Giấy
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                        <div class="address-group-item">
                            <address>
                                42 Phố Vọng, Hai Bà Trưng
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                    </div>
                </div>
                <div class="address-group">
                    <div class="address-group-title">
                        <span>Hồ Chí Minh</span>
                    </div>
                    <div class="address-group-main d-block">
                        <div class="address-group-item">
                            <address>
                                123 Trần Quang Khải, Q.1
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                        <div class="address-group-item">
                            <address>
                                398 Cầu Giấy, Q. Cầu Giấy
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                        <div class="address-group-item">
                            <address>
                                602 Lê Hồng Phong, P.10, Q.10
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                    </div>
                </div>
                <div class="address-group">
                    <div class="address-group-title">
                        <span>Đà Nẵng</span>
                    </div>
                    <div class="address-group-main d-block">
                        <div class="address-group-item">
                            <address>
                                97 Hàm Nghi, Q.Thanh Khê
                                <a href="#" target="_blank" rel=""> Xem bản đồ</a>
                            </address>
                            <p>
                                Điện thoại: 0969.120.120 - 037.437.9999
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="footer-top-item">
                    <div class="title">
                        <i class="fa-solid fa-question"></i>
                        QUY ĐỊNH - CHÍNH SÁCH
                    </div>
                    <div class="footer-top-content">
                        <ul class="footer-list">
                            <li>
                                <a href="#">Chính sách bảo hành</a>
                            </li>
                            <li>
                                <a href="#">Chính sách vận chuyển</a>
                            </li>
                            <li>
                                <a href="#">Chính sách đổi trả hàng</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo mật thông tin</a>
                            </li>
                            <li>
                                <a href="#">Hướng dẫn thanh toán</a>
                            </li>
                            <li>
                                <a href="#">Hướng dẫn mua hàng Online</a>
                            </li>
                            <li>
                                <a href="#">Dịch vụ Ship COD toàn quốc</a>
                            </li>
                            <li>
                                <a href="#">Chính sách đại lý linh,phụ kiện</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="title">
                    <i class="fa-solid fa-message"></i>
                    ĐĂNG KÝ NHẬN BẢNG TIN
                </div>
                <div>
                    <form action="#" class="form d-flex  ">
                        <input type="text" class="form-control " placeholder="Nhập email của bạn">
                        <button class="btn bg-warning ms-1">Gửi</button>
                    </form>
                </div>
                <div class="title mt-3 ">
                    <i class="fa-solid fa-link"></i> LIÊN KẾT
                </div>
                <div class="footer-top-content">
                    <div class="connect-content">
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title="Link Facebook">
                                <img src="../images/Footer/fb.png" alt="">
                                <span>Facebook</span>
                            </a>
                        </div>
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title=" Link Youtube">
                                <img src="../images/Footer/ytb.png" alt="">
                                <span>Youtube</span>
                            </a>
                        </div>
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title=" Link zalo">
                                <img src="../images/Footer/zalo.png" alt="">
                                <span>zalo</span>
                            </a>
                        </div>
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title=" Link zinstagramalo">
                                <img src="../images/Footer/instagram.png" alt="">
                                <span>instagram</span>
                            </a>
                        </div>
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title=" Link Tiktok">
                                <img src="../images/Footer/tiktok.png" alt="">
                                <span>Tiktok</span>
                            </a>
                        </div>
                        <div class="connect-content-item">
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right"
                                data-bs-title=" Link twitter">
                                <img src="../images/Footer/twitter.png" alt="">
                                <span>twitter</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
